{% extends 'base.html' %}
{% block content %}

  <section class="menu-section" id="menu">
    <h2 class="section-title2">Изменение пароля</h2>
    <div class="section-content">
        <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <p ><button type="submit" style="background: white">Изменить пароль</button></p>
        </form>
    </div>
  </section>


{% endblock %}