{% extends "base.html" %}
{% load i18n %}

{% block content %}

  <section class="menu-section" id="menu">
    <h2 class="section-title2">Сброс пароля</h2>
    <div class="section-content">
        <p >{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
        <p >{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
    </div>
  </section>

{% endblock %}