{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Menu section -->
      <section class="menu-section" id="menu">
        <h2 class="section-title2">О ресторане</h2>
        <div class="section-content">
          <ul class="menu-list">
            <li class="menu-item">
              <img src="https://static.tildacdn.com/tild3263-6562-4261-a237-396666353337/krjd-J51isk.jpg"/>
              <div class="menu-details">
                <h3 class="name">Наши сотрудники</h3>
                <p class="text">Лучшие кондитеры Татарстана. Известные кулинары, заслуженные работники торговли РСФСР </p>
              </div>
            </li>
            <li class="menu-item">
              <img src="https://avatars.mds.yandex.net/get-altay/374295/2a0000015b1fea5c8dda020d8fac64ca1079/XXL_height">
              <div class="menu-details">
                <h3 class="name">Интерьер и атмосфера</h3>
                <p class="text">Интерьер в татарском стиле украшается декором в национальных традициях</p>
              </div>
            </li>
            <li class="menu-item"><div class="dell">
              <img src="https://cdn.culture.ru/images/f7766fde-17b3-574c-a496-0c5ad47bbd3d">
              <div class="menu-details">
                <h3 class="name">Концепция ресторана</h3>
                <p class="text">Ресторан «Шурпа» предлагает своим гостям окунуться в мир традиционной татарской культуры</p>
              </div>
            </div>
            </li>
            </li>
          </ul>
        </div>
      </section>
{% endblock %}

