{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Menu section -->
      <section class="menu-section" id="menu">
        <h2 class="section-title2">Отзывы</h2>
 <div class="container">
   <img src="https://static.life.ru/posts/2018/06/1129526/bcd2da61b89622b4a42817fd7212d977.jpg"/>
  <p><span>Марина Белова</span></p>
  <p>Очень приятное место. 02.01.2023. были здесь впервые по совету друзей. Интерьер уютный и стильный. Официант Евгений молодец. Еда очень вкусная! Особенное внимание стоит уделить на подачу блюд. Обязательно придем еще. </p>
</div>
<div class="container">
  <img src="https://static.tildacdn.com/tild3138-3939-4133-b637-396135333937/filc-w-kolorze-czarn.jpg">
  <p><span>Алексей Иванов</span> </p>
  <p>Приехали ради этого ресторана из другого города. Спасибо всем сотрудникам за обслуживание</p>
</div>
<div class="container">
  <img src="https://www.kino-teatr.ru/news/15336/139997.jpg">
  <p><span>Егор Крид</span></p>
  <p>После посещения данного ресторана у меня появилось вдохновение для написания нового альбома полностью на татарском языке </p>
</div>
<div class="container">
  <img src="https://img.ixbt.site/live/topics/preview/00/04/59/85/7f64d7e10f.jpg">
  <p><span>Илон Маск</span></p>
  <p>Это восторг. Самый лучший ресторан Казани). Обширное меню, выбор на любой вкус. Потрясающе вкусно все, что я заказывал. Особенно умеют готовить кыстыбый. Отличная винная карта. Приветливый персонал.</p>
</div>
              </div>
            </li>
              </div>
            </li>
          </ul>
        </div>
      </section>
{% endblock %}
